@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
body {
  background-color: var(--Light-gray);
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  position: relative;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  background-color: var(--White);
  min-height: 500px;
  border-radius: 15px;
  padding: 15px;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.hero img {
  width: 315px;
  border-radius: 15px;
}
.text-content {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 15px;
  padding: 15px;
  grid-template-columns: 275px;
}
.text-content h2 {
  color: var(--Dark-blue);
  text-align: center;
}
.text-content p {
  color: var(--Grayish-blue);
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}
